<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Register</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row text-center align-items-center>
      <ion-col col-1></ion-col>
      <ion-col col-10>
        <ion-searchbar (ionInput)="searching($event)"></ion-searchbar>
      </ion-col>
      <ion-col col-1>
        <button ion-button icon-start large block outline (click)="presentModalAddMember()">
          <ion-icon name="md-add-circle"></ion-icon>
          ลงทะเบียน
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
    <ion-card-content>
      <ion-row text-center>
        <ion-col col-2>
          ไอดี
        </ion-col>
        <ion-col col-3>
          ชื่อ - สกุล
        </ion-col>
        <ion-col col-3>
          Full Name
        </ion-col>
        <ion-col col-3>
          เบอร์โทรศัพท์
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-list>
      <ion-item *ngFor="let member of members">
        <ion-row text-center align-items-center>
          <ion-col col-2>
            {{ member._id }}
          </ion-col>
          <ion-col col-3>
            {{ member.tHName }}
          </ion-col>
          <ion-col col-3>
            {{ member.eNName }}
          </ion-col>
          <ion-col col-3>
            {{ member.phoneNumber }}
          </ion-col>
          <!-- <ion-col>
            <button ion-button block >Check In</button>
          </ion-col> -->
          <ion-col>
            <button ion-button block color="light" (click)="presentModalEditMember(member)">แก้ไข</button>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
  </ion-grid>

  <!-- <ion-list>
    <ion-item *ngFor="let member of members">
      {{ member }}
    </ion-item>
  </ion-list> -->

</ion-content>