table, td, th {
    border-collapse: collapse;
  }

th,
td {
  padding: 10px;
  border: 1px solid lightgray;
  text-align: center;
}

table{
    width: 100%;
    table-layout: auto;
}  
  
.bgb{
    background-color: #f8f9fa;
}

.notAvailable {
  border: 2px solid red;
}

.selected {
  border: 2px solid green;
  background-color:#32db64,
}
